html {background-color: rgb(201, 181, 181);}

h1.header {
  text-align: center;
}
h2.intro {
  color: blueviolet;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

img.intro {
  border-radius: 8px;
  width: 25%;
  height: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}